.intro {
  font-size: 60px;
  color: #32C4C4;
  background-color: #F08D06;
  padding: 30px;
}

h1 {
  margin-bottom: 0px;
}

ul {
  list-style-type: none;
}



.info {
 font-size: 40px;
}

.about {
  text-align:center;
}

.title{
  font-size: 45px;
}

nav ul,footer {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    color:white
}

footer a {
  color:orange;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */nav li a:hover {
    background-color: #111;
}
